version: "3.4"

networks:
  servicenet:
    driver: overlay
    ipam:
      config:
        -
          subnet: 10.0.9.0/24

configs:
  hmr_svcs_config:
    file: ../config/hmr-svcs.conf
  hydra_logging_svcs_config:
    file: ../config/hydra-logging-svcs.conf
  hydra_router_config:
    file: ../config/hr-test-config.json

services:
  redis:
    image: redis:6.0.6
    networks:
      - servicenet
    ports:
      - target: 6379
        published: 6379
        protocol: tcp
        mode: ingress
    deploy:
      replicas: 1

  hydra-logging-svcs:
    image: pnxtech/hydra-logging-svcs:0.3.5
    depends_on:
      - redis
    networks:
      - servicenet
    extra_hosts:
      - "host:${HOST_IP}"
    configs:
      - source: hydra_logging_svcs_config
        target: /usr/src/app/config/config.json
    volumes:
      - ./logs:/logs
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 6
      resources:
        limits:
          memory: 128M

  hydra-router:
    image: hydra-router:1.9.0
    depends_on:
      - redis
      - hydra-logging-svcs
    networks:
      - servicenet
    extra_hosts:
      - "host:${HOST_IP}"
    configs:
      - source: hydra_router_config
        target: /usr/src/app/config/config.json
    ports:
      - target: 80
        published: 5353
        protocol: tcp
        mode: ingress
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 6
      # resources:
      #   limits:
      #     memory: 256M

  # hmr-svcs:
  #   image: flywheelsports/hmr-svcs:1.0.3
  #   depends_on:
  #     - redis
  #   networks:
  #     - servicenet
  #   extra_hosts:
  #     - "host:${HOST_IP}"
  #   configs:
  #     - source: hmr_svcs_config
  #       target: /usr/src/app/config/config.json
  #   deploy:
  #     replicas: 1
  #     restart_policy:
  #       condition: on-failure
  #       delay: 15s
  #       max_attempts: 6
  #     resources:
  #       limits:
  #         memory: 128M

